@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply text-black-200;
	// color: #dbdbdb;
}

@layer utilities {
  .ml-minus-320 {
    margin-left: -320px;
  }
  
  .ml-minus-270 {
    margin-left: -270px;
  }
  
  .w-270 {
    width: 270px;
  }
}

@layer utilities {
  .ml-minus-320 {
    margin-left: -320px;
  }
  
  .ml-minus-270 {
    margin-left: -270px;
  }
  
  .w-270 {
    width: 270px;
  }
}

